/eb_django_app/venv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/eb_django_app/venv/*
*.pyc
*.bower.json
/npm-debug.log
/eb_django_app/.DS_Store
/eb_django_app/awscli-bundle.zip
/eb_django_app/awscli-bundle
/eb_django_app/.idea
/eb_django_app/django_eb/django_eb/media

*.pyc
