



<div class="demo-blog__posts mdl-grid">
 <div class="mdl-card project-view mdl-cell mdl-cell--8-col">
    <div ng-controller="ProjectCtrl" class="mdl-card__media mdl-color-text--grey-50 override-color">
      <!--TODO: seperate these functional elements into directives-->
        <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent ng-click-active add-project" ng-click="addProject()">
          <i class="material-icons mdl-color-text--white" role="presentation">add</i>
          <span class="visuallyhidden">add</span>
        </button>
        <div ng-hide="show_form" class="demo-card-square mdl-card mdl-shadow--2dp" ng-repeat="project in projects">
            <!--TODO: need to inject project image into ng-class url-->
          <div class="mdl-card__title mdl-card--expand" ng-style="{'background':'url({{project.poster}}) bottom right 15% no-repeat #46B6AC'}">
            <h2 class="mdl-card__title-text">Project Name</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenan convallis.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Update
            </a>
          </div>
        </div>
        <div ng-show="show_form">
            <form action="api/upload/" method="post" enctype="multipart/form-data">
                <p>
                    <input id="id_image" type="file" class="" name="poster">
                </p>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>


    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
        <strong>The Newist</strong>
        <span>2 days ago</span>
      </div>
    </div>
 </div>




  <div id="todo-panel" class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">

    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" ng-click="vm.addTodo()">
      <i class="material-icons mdl-color-text--white" role="presentation">add</i>
      <span class="visuallyhidden">add</span>
    </button>

    <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">


        <!-- Simple Textfield -->
        <form role="form">
          <div class="mdl-textfield mdl-js-textfield todo-input">
            <input class="mdl-textfield__input" ng-model="vm.todo" ng-keyup="vm.keyup($event)" type="text" id="sample1">
            <label class="mdl-textfield__label todo-label" for="sample1">What needs to be done?</label>
          </div>
        </form>



        <hr/>
        <!-- Todos list -->
        <div ui-sortable ng-model="vm.todos" class="todo-card-wrapper" style="padding:5px 10px; cursor: move; width: 100%;">
        <div class="mdl-card mdl-shadow--4dp todo-card"  ng-repeat="todo in vm.todos track by $index" >
              <div class="mdl-card__title" ng-bind="todo"></div>
              <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" ng-click="vm.removeTodo($index)" aria-label="Remove">Remove</button>
              </div>
            </div>
        </div>

    </div>
    <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
      <div>
        <strong>The Newist</strong>
      </div>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Message</li>
        <li class="mdl-menu__item">Favorite</li>
        <li class="mdl-menu__item">Search</li>
      </ul>
      <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">more_vert</i>
        <span class="visuallyhidden">show menu</span>
      </button>
    </div>
  </div>





  <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">


    <!--<div class="mdl-card__media mdl-color-text--grey-50">-->
      <!--<h3><a href="entry.html">On the road again</a></h3>-->
    <!--</div>-->
    <!--<div class="mdl-color-text--grey-600 mdl-card__supporting-text">-->
      <!--Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.-->
    <!--</div>-->
      <a data-pin-do="embedUser" data-pin-board-width="2000" data-pin-scale-height="600" data-pin-scale-width="60" href="https://www.pinterest.com/Seniman_callig"></a>    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
        <strong>The Newist</strong>
        <span>2 days ago</span>
      </div>
    </div>

<!--<iframe src="http://www.w3schools.com"></iframe>-->


    <!--<div class="col-sm-6">-->
        <!--<div flow-init-->
             <!--flow-files-submitted="$flow.upload()"-->
             <!--flow-file-success="vm.handle($file, $message, $flow )">-->
            <!--<span class="btn btn-lg btn-success" flow-btn>Upload File</span>-->

            <!--<div class="drag-drop-area alert alert-info" flow-drop>-->
                <!--Drag And Drop your file here-->
            <!--</div>-->
            <!--<div deckgrid source="photos" cardTemplate="/static/views/deckgrid-card.html" class="deckgrid"></div>-->
        <!--</div>-->
    <!--</div>-->

  </div>


  <div class="mdl-card amazing mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-color-text--grey-50">
      <h3 class="quote"><a href="entry.html">I couldn’t take any pictures but this was an amazing thing…</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
        <strong>The Newist</strong>
        <span>2 days ago</span>
      </div>
    </div>
  </div>
  <div class="mdl-card shopping mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
      <h3><a href="entry.html">Shopping</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
        <strong>The Newist</strong>
        <span>2 days ago</span>
      </div>
    </div>
  </div>
  <nav class="demo-nav mdl-cell mdl-cell--12-col">
    <div class="section-spacer"></div>
    <a href="entry.html" class="demo-nav__button" title="show more">
      More
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_forward</i>
      </button>
    </a>
  </nav>
</div>

<a ui-sref="logout" ng-click="vm.logout()" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Logout</a>

